<aside class="menu" role="list">

    <section class="row">
        <div class="item-menu">
            <a mat-flat-button [routerLink]="['/']" class="menu-link">
                <mat-icon>home</mat-icon>
                Home
            </a>
        </div>
        <div class="item-menu">
            <a mat-flat-button [routerLink]="['/categorias']" class="menu-link">
                <!-- <mat-icon>list</mat-icon> -->
                Categorias
            </a>
        </div>
        <div class="item-menu">
            <a mat-flat-button [routerLink]="['/atores']" class="menu-link">
                <!-- <mat-icon>list</mat-icon> -->
                Atores
            </a>
        </div>

        <div class="item-menu">
            <a mat-flat-button [routerLink]="['/clientes']" class="menu-link">
                <!-- <mat-icon>list</mat-icon> -->
                Clientes
            </a>
        </div>
    </section>

</aside>