<div class="container">
    <h2>Add Category</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm">
      <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
        <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched" class="text-danger">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="lastUpdate">Last Update</label>
        <input type="datetime-local" id="lastUpdate" formControlName="lastUpdate" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">
        Save Category
      </button>
    </form>
  </div>
  