<aside class="menu" role="list">

    <section class="row">
        <div class="item-menu">
            <a mat-flat-button [routerLink]="['/']" class="menu-link">
                <mat-icon>home</mat-icon>
                Home
            </a>
        </div>
        <div class="item-menu">
            <a mat-flat-button [routerLink]="['/disciplinas']" class="menu-link">
                <!-- <mat-icon>list</mat-icon> -->
                Disciplinas
            </a>
        </div>
        <div class="item-menu">
            <a mat-flat-button [routerLink]="['/professores']" class="menu-link">
                <!-- <mat-icon>list</mat-icon> -->
                Professores
            </a>
        </div>
    </section>

</aside>